:root {
    --background: #fff;
    --text: #333;
    --link: #446;
    --linkBorder: #ddd;
    --linkFocused: #0056D2;
    --linkVisited: #666;
}


@media (prefers-color-scheme: dark) {
    :root {
        --background: #333;
        --text: #f0f0f0;
        --link: #fff;
        --linkBorder: #999;
        --linkFocused: #1abef1;
        --linkVisited: #aaa;
    }
}


body {
    font-family: sans-serif;
    background-color: var(--background);
    color: var(--text);
}

.post {
    margin: auto;
    max-width: 40rem;
}

.post h1 {
    font-size: 2rem;
    line-height: 3rem;
    margin: 0 0 1rem;
}

.post h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 2rem 0 1rem;
}

.post__content ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.post__content li {
    line-height: 1.5;
    margin: 0 0 1rem;
}

a {
    color: var(--link);
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.02rem;
    border-bottom: 1px solid var(--linkBorder);
}

a:hover,
a:focus,
a:visited:hover,
a:visited:focus {
    color: var(--linkFocused);
    border-bottom-color: currentColor;
}

a:visited {
    color: var(--linkVisited);
}
