<head>
    <title>{{ if not .Page.IsSection }}{{ .Page.Title }} | {{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
    <link rel="canonical" href="{{ .Permalink }}" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    {{- $css := resources.Get "css/style.css" | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $css.Permalink }}">
</head>
